.title{
  margin: 5px;
  padding: 5px;
  background-color: rgb(247, 157, 23);
  border: 3px solid black;
  border-radius: 10px;
}

.button{
  background-color: blue;
  color: white;
  font-size: medium;
  border: 2px solid black;
}
.button:hover{
  background-color: rgb(93, 93, 223);
  
}

.input{
  font-size: large;
  border: 2px solid black;
  }

.container {
  margin: 10px;
  padding: 10px;
  color: black;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: peachpuff;
}

.mini-container1{
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

