.todo {
  width: 400px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(249, 182, 123);
  border: 1px solid black;
}

.todo:hover {
  border: 3px solid black;
  box-shadow: 10px 10px 10px rgba(35, 35, 35, 0.404);
}

.container2 {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete {
  height: fit-content;
  margin: 4px;
  padding: 4px;
  background-color: rgb(247, 40, 40);
  color: white;
  font-size: small;
  border-radius: 10px;
}

.delete:hover {
  cursor: pointer;
  border: 2px solid black;
}

.edit {
  height: fit-content;
  margin: 4px;
  padding: 4px;
  background-color: rgb(218, 39, 218);
  color: white;
  font-size: small;
  border-radius: 10px;
}

.edit:hover {
  cursor: pointer;
  border: 2px solid black;
}

.edit-todo {
  margin: 5px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  border: 2px solid #000;
  box-shadow: 10px 10px 1000px 1000px rgba(35, 35, 35, 0.404);
  background-color: white;
}
.update-btn {
  margin: 5px;
  padding: 5px;
}
.cancel-btn {
  margin: 5px;
  padding: 5px;
}

.checkbox{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: line-through;
  color: black;
  background-color: rgb(255, 55, 55);
  border: 2px solid black;
  border-radius: 10px;;
}
